
Mandy's Book Recommender Project

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pull in dataset - 5  columns total

dataset = pd.read_csv("books.csv", on_bad_lines='skip')
dataset

# got parser error about tokenizing - seems like something wrong in the original csv file
#the error mentioned 13 fields instead of expected 12, to see how many used on_bad_lines warn, only 4 affected lines in total of 11123 remaining so skipping those lines.

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
11121,45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2/27/2007,Ecco
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros

Next based on what we are doing (one popularity and one content recommender) unless we are for example a library or store needing them for reference we won't need the following columns - bookID, isbn, isbn13, num_pages, text_reviews_count, publication_date, publisher

I was surprised there was no description or abstract or anything to use for the content part - discussed with Omar and the only thing we could really use in this case is title

In [3]:
#let's start with popularity by ratings count - but the rating doesn't match alone so we will need to use both rating and count together to get an accurate top 10!
top10Ratings = dataset.sort_values(by = 'ratings_count',ascending = False).head(10)
top10Ratings

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
10336,41865,Twilight (Twilight #1),Stephenie Meyer,3.59,0316015849,9780316015844,eng,501,4597666,94265,9/6/2006,Little Brown and Company
1697,5907,The Hobbit or There and Back Again,J.R.R. Tolkien,4.27,0618260307,9780618260300,eng,366,2530894,32871,8/15/2002,Houghton Mifflin
1462,5107,The Catcher in the Rye,J.D. Salinger,3.80,0316769177,9780316769174,eng,277,2457092,43499,1/30/2001,Back Bay Books
307,960,Angels & Demons (Robert Langdon #1),Dan Brown,3.89,1416524797,9781416524793,eng,736,2418736,21303,4/1/2006,Pocket Books
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4415,15881,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling/Mary GrandPré,4.42,0439064864,9780439064866,eng,341,2293963,34692,6/2/1999,Arthur A. Levine Books / Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
23,34,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien,4.36,0618346252,9780618346257,eng,398,2128944,13670,9/5/2003,Houghton Mifflin Harcourt
2114,7613,Animal Farm,George Orwell/Boris Grabnar/Peter Škerl,3.93,0452284244,9780452284241,eng,122,2111750,29677,5/6/2003,NAL
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.

In [4]:
def popularityRecommender(dataset):
    
    #Define the minimum ratings count
    minimum_ratings_count = 0.75* dataset['ratings_count'].max()
    
    #Define C – the mean rating
    mean_rating = dataset['average_rating'].mean()

    dataset['weighted_rating'] = (((dataset['ratings_count']/(dataset['ratings_count']+minimum_ratings_count)) * dataset['average_rating']) +
                             ((minimum_ratings_count/(dataset['ratings_count']+minimum_ratings_count))*mean_rating))

    recommendations = dataset.sort_values(by = 'weighted_rating',ascending = False).head(10)
    
    return(recommendations)

In [5]:
top10 = popularityRecommender(dataset)
top10[["title",'ratings_count','average_rating','weighted_rating',]].head(10)

,title,ratings_count,average_rating,weighted_rating
3,Harry Potter and the Prisoner of Azkaban (Harr...,2339585,4.56,4.187089
0,Harry Potter and the Half-Blood Prince (Harry ...,2095690,4.57,4.174464
1,Harry Potter and the Order of the Phoenix (Har...,2153167,4.49,4.147771
4415,Harry Potter and the Chamber of Secrets (Harry...,2293963,4.42,4.128198
23,The Fellowship of the Ring (The Lord of the Ri...,2128944,4.36,4.096661
1697,The Hobbit or There and Back Again,2530894,4.27,4.076268
5270,The Book Thief,1516367,4.37,4.067222
7309,The Lightning Thief (Percy Jackson and the Oly...,1766725,4.25,4.041104
5093,Gone with the Wind,999139,4.29,4.014036
2846,A Clash of Kings (A Song of Ice and Fire #2),638766,4.41,4.008458

In [6]:
#That looks pretty accurate overall!  Very neat! Ok on to the content recommender

In [7]:
# Assign stop words based on language - stop words are words that you don't want to add up in our count, like the, a, of, etc.
from sklearn.feature_extraction.text import TfidfVectorizer
cbr = TfidfVectorizer(stop_words = 'english')

# Replace empty descriptions with a blank "" value and transform the titles of books in our dataset into the matrix
dataset['title'] = dataset['title'].fillna('')
tfidf_matrix = cbr.fit_transform(dataset['title'])

tfidf_matrix.shape

(11123, 11090)

In [8]:
stop_words_list = cbr.get_stop_words()
print(len(stop_words_list), "words in the stop list:\n")
print(stop_words_list)

318 words in the stop list:

frozenset({'six', 'upon', 'mostly', 'his', 'whereafter', 'cant', 're', 'somehow', 'were', 'about', 'themselves', 'sometimes', 'whenever', 'none', 'in', 'detail', 'go', 'front', 'however', 'others', 'nine', 'until', 'cannot', 'how', 'see', 'towards', 'have', 'full', 'through', 'own', 'thereby', 'another', 'herself', 'would', 'while', 'many', 'whither', 'hereby', 'before', 'never', 'hereupon', 'every', 'nowhere', 'herein', 'by', 'further', 'these', 'what', 'noone', 'latter', 'do', 'not', 'thus', 'cry', 'fill', 'mine', 'elsewhere', 'hundred', 'seeming', 'can', 'yours', 'where', 'whereas', 'than', 'one', 'across', 'whoever', 'its', 'thence', 'that', 'from', 'together', 'off', 'whence', 'why', 'of', 'am', 'several', 'who', 'them', 'nobody', 'we', 'him', 'became', 'had', 'though', 'anywhere', 'neither', 'etc', 'some', 'himself', 'whereby', 'except', 'third', 'call', 'enough', 'your', 'no', 'same', 'any', 'least', 'against', 'somewhere', 'within', 'although', 'or', 'the', 'will', 'always', 'per', 'alone', 'into', 'via', 'therefore', 'please', 'almost', 'un', 'to', 'during', 'amount', 'above', 'wherever', 'is', 'less', 'still', 'around', 'therein', 'those', 'latterly', 'ever', 'all', 'ours', 'perhaps', 'seems', 'must', 'itself', 'part', 'name', 'sometime', 'couldnt', 'much', 'their', 'find', 'but', 'over', 'something', 'well', 'beforehand', 'eight', 'along', 'this', 'her', 'give', 'among', 'mill', 'amongst', 'there', 'done', 'i', 'seemed', 'side', 'nor', 'then', 'here', 'fifty', 'become', 'since', 'fifteen', 'besides', 'you', 'thereafter', 'whose', 'hence', 'anyone', 'ie', 'ourselves', 'whom', 'twelve', 'put', 'inc', 'last', 'after', 'and', 'sincere', 'due', 'else', 'sixty', 'thick', 'everyone', 'four', 'get', 'should', 'few', 'next', 'under', 'hereafter', 'below', 'hasnt', 'us', 'whether', 'myself', 'meanwhile', 'forty', 'anyhow', 'nothing', 'very', 'yourself', 'she', 'most', 'our', 'becoming', 'between', 'once', 'again', 'system', 'my', 'more', 'a', 'at', 'an', 'behind', 'found', 'if', 'move', 'beyond', 'co', 'been', 'too', 'with', 'on', 'also', 'first', 'may', 'might', 'eg', 'thru', 'such', 'keep', 'it', 'other', 'they', 'has', 'for', 'namely', 'formerly', 'bill', 'serious', 'each', 'moreover', 'becomes', 'indeed', 'bottom', 'made', 'up', 'being', 'anything', 'describe', 'everywhere', 'thereupon', 'already', 'because', 'top', 'take', 'only', 'nevertheless', 'often', 'throughout', 'hers', 'whereupon', 'interest', 'show', 'three', 'either', 'me', 'back', 'con', 'are', 'which', 'could', 'both', 'so', 'de', 'ten', 'out', 'eleven', 'down', 'former', 'amoungst', 'beside', 'now', 'yet', 'seem', 'toward', 'fire', 'five', 'onto', 'ltd', 'whole', 'be', 'someone', 'thin', 'otherwise', 'yourselves', 'two', 'afterwards', 'rather', 'without', 'empty', 'twenty', 'as', 'when', 'anyway', 'even', 'he', 'wherein', 'everything', 'whatever', 'was'})

In [9]:
# Take a look at a sample movie title
dataset['title'][0]

'Harry Potter and the Half-Blood Prince (Harry Potter  #6)'

In [10]:
# Use the lambda function to split the description into words and count the length of the paragraph
dataset['new_column'] = dataset.title.apply(lambda x: len(str(x).split(' ')))
dataset['new_column'][0]

10

In [11]:
# There are 11090 words (not including stop words) used to describe the different movies
tfidf_matrix[0]

<1x11090 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [12]:
# Look at the vector representing the importance of the words in the document. Cumulatively, they represent the document.
print(tfidf_matrix[0])

  (0, 7835)	0.3091341608120538
  (0, 1292)	0.2922551986233868
  (0, 4539)	0.3466347512612644
  (0, 7752)	0.6037245307706429
  (0, 4606)	0.578259465690308

In [13]:
# Assign the instance of our recommender function.
# This is a matrix with a similarity value for every movie with every other movie in the dataset

from sklearn.metrics.pairwise import cosine_similarity
distance_matrix = cosine_similarity(tfidf_matrix)

# Re-create the indices of our list of books by removing any duplicates if required
indices = pd.Series(dataset.index, index=dataset['title']).drop_duplicates()

In [14]:
distance_matrix.size

123721129

In [15]:
distance_matrix.shape

(11123, 11123)

In [20]:
# Define a function that takes the re-indexed dataset, finds the 6 most similar titles 
#to a chosen title based on the
# similarity of the words in the titles,
# and returns the top 20, (not) including itself, which will be the best match. 

def ContentBasedRecommender(title, indices, distance_matrix):
    id_ = indices[title] #Fetch the index of the movie we will enter
    
    #List of tuples with distance for each movie to the entered movie (2 cols = id and distance)
    distances = list(enumerate(distance_matrix[id_])) 
    
    #sort by the distance function, which is in column[1]
    distances = sorted(distances, key=lambda x: x[1], reverse = True) 
    
    distances = distances[1:21] # Get the 20 best scores , not including itself
    print(distances)
    
    # get the indices of the top 20
    recommendations = [distance[0] for distance in distances] 
    
    # return those recommendation names by pulling title from the given 20 indices
    return dataset['title'].iloc[recommendations]

In [21]:
rand_book_index = np.random.randint(low=0, high=len(dataset), size=1).astype(int)
print(rand_book_index[0])

title = dataset["title"][rand_book_index[0]]
print(title)

ContentBasedRecommender(title, indices, distance_matrix)

9846
programming.java: An Introduction to Programming Using Java: An Introduction to Programming Using Java
[(6981, 0.6827990967278748), (6980, 0.608264471115862), (554, 0.32778433085637143), (7254, 0.32116305425276576), (7257, 0.3120587574245527), (213, 0.28641409695689213), (5050, 0.21171415735975638), (5051, 0.21171415735975638), (4071, 0.1929583211396048), (535, 0.1873889177585313), (8273, 0.1860787674308813), (575, 0.1835392673265561), (10595, 0.18058541846895487), (2782, 0.180193227546424), (5413, 0.17584712171627057), (6730, 0.17584712171627057), (729, 0.17398267061922118), (6124, 0.16867406231605647), (9616, 0.16501858852309811), (5240, 0.15938169614406308)]

6981     Java: An Introduction to Problem Solving and P...
6980                                      Programming in C
554                     Object-Oriented Programming in C++
7254                Data Structures and Algorithms in Java
7257            Data Structures and Abstractions with Java
213      Programming Ruby: The Pragmatic Programmers' G...
5050                         Introduction to Phenomenology
5051                         Introduction to Phenomenology
4071                           Introduction to Documentary
535                   Augustine: A Very Short Introduction
8273               An Introduction to Political Philosophy
575            The History of Sexuality 1: An Introduction
10595                   The English Novel: An Introduction
2782                       Introduction to World Religions
5413               Schopenhauer: A Very Short Introduction
6730                      Hegel: A Very Short Introduction
729                           An Introduction to Old Norse
6124                   Christian Theology: An Introduction
9616             Introduction to Superstrings and M-Theory
5240                        Zizek: A Critical Introduction
Name: title, dtype: object